$colorWhite: #fff;

$pageHeaderBackground: #00152A;
$pageBackground: #ffffff;
.body {
    color: #333;
}
#app #page-main {
    .page-header {
        background: $pageBackground;
        .page-logo {
            .menu-toggler.sidebar-toggler {
                color: $colorWhite;
            }
            .logo-text {
                color: $colorWhite;
                display: inline-block;
                height: 25px;
                // font-size: 18px;
                font-family
                : PingFangSC-Medium, PingFang SC;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
            }
        }

        .data-menu {
            .data-menu-dropdown {
                color: $colorWhite;
            }
            .el-select .el-input--suffix .el-input__inner {
                background: #e3e4e6;
            }
        }
        .user-menu {
            .user-menu-dropdown {
                color: #909BB0;
            }
        }
    }

    #page-container {
        background: #f2f2f2;

        #page-sidebar-wrapper {
            color: azure;
            background-color:rgba(228,234,251,1);
            .sidebar-menu.el-menu {
                background: #00152A!important;

                .sidebar-menu-submenu.el-submenu {
                    &.is-active {
                        .el-submenu__title {
                            background: #0052FF !important;
                            color: $colorWhite !important;
                        }
                    }
                    .el-submenu__title {
                        &:hover {
                            background: #000;
                        }
                    }
                }
                .sidebar-menu-item.el-menu-item {
                    &:hover {
                        background: #000;
                    }
                    &.is-active {
                        background: #0052FF !important;
                        color: $colorWhite !important;
                    }
                }
            }
        }
        .page-content-wrapper {
            .page-content {
                .query-form {
                    border: 1px solid #dfe6ec;
                    background-color: $colorWhite;
                }
                .data-table {
                    .el-table__header-wrapper {
                        .el-table__header {
                            thead tr th {
                                background-color: #d9d9d9;
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }

    .page-footer {
        background: #28303b;
    }
}

.el-menu--vertical {
    .el-menu.el-menu--popup.el-menu--popup-right-start {
        .el-menu-item.sidebar-menu-item.is-active {
            background: #0052FF !important;
            color: $colorWhite !important;
        }
    }
}

.sidebar-menu-item.el-menu-item,
.sidebar-menu-submenu.el-submenu .el-submenu__title {
    i {
        color: $colorWhite;
    }
}
